.logo {
    width: 65px;
    margin-left: 0;
}
.bannerTxt{
    padding-top: 140px;
    color: white;
}

b {
    color: orange;
}

h1 {
    font-size: 1.5cm;
    margin-top: 4cm;
    font-family: prague;
    text-align: center;
}

footer {
    background: #111215;
    ;
    width: 100%;
    height: 400px;
    color: white;
}

.FooterImg {
    width: 80%;
    margin-top: 2cm;
}

.FooterH1 {
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}

.FooterText {
    line-height: 30px;
    word-spacing: 1px;
    font-size: 18px;
    color: aliceblue;
}

h6 {
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
    color: orange;
}

.pfooter {
    margin-bottom: 3cm;
}

.bfooter {
    color: orange;
    font-weight: 400;
}

.footerbtn {
    background: none;
    border: 0;
}

.icon {
    color: orange;
    font-size: 40px;

}

.bfootertext {
    font-weight: 250;
    margin-left: 2.5cm;
    color: white;
}

.footertext {
    font-weight: 250;
    color: white;
}

.footerHead {
    color: orange;
}

.weblogo {
    width: 65px;
}

.navbar {
    background: #00000082 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: lighter;
    font-size: 15px;
}

.navbar li:hover {
    background: orange;
    /* border-radius: 10px; */
    transition-delay: 0.5s;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.franBtn {
    border: 1px solid orange;
}

.b {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}

.Img {
    width: 80%;
}

.a {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}

.c {
    background-image: url(https://pn-paul.netlify.app/image/img%20background.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.d {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    padding-top: 140px;
}

.e {
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
}

.b1 {
    background-image: url(https://pn-paul.netlify.app/image/ourimage.jpg);
    height: 650px;
    background-size: cover;
    background-position: center;
}

.imgtext {
    font-size: 1.5cm;
    margin-top: 4cm;
    font-family: 'prague';
    text-align: center;
}

.photo1 {
    background-image: url(https://firstfiddle.in/_next/image?url=%2Fimages%2Fabout%2F5.jpg&w=640&q=75);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo2 {
    background-image: url(https://firstfiddle.in/_next/image?url=%2Fimages%2Fabout%2F4.jpg&w=640&q=75);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo3 {
    background-image: url(https://pn-paul.netlify.app/image/Sagar-Bajaj.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo4 {
    background-image: url(https://firstfiddle.in/_next/image?url=%2Fimages%2Fabout%2F3.jpg&w=640&q=75);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}

.photo5 {
    background-image: url(https://firstfiddle.in/_next/image?url=%2Fimages%2Fabout%2F6.jpg&w=640&q=75);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}
/* ---------------------press start--------------------------- */
.pressIcon{
    font-size: 0.5cm;
    position: relative;
    top: -8px; 
}
.presscard{
    box-shadow: 1px 1px 12px #020001;
}
.apress{
    
  font-size: 50px;
  color: blue;
  
}

/* ---------------------Carrer start--------------------------- */

.carrer{
    text-transform: uppercase;
    font-family:'prague';
    letter-spacing: 2px;
    font-size: 1.2cm;
    margin-top: 1.2cm;
}
.pcarrer{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
    font-weight:lighter;
    font-size: 18px;
}
h4{
    font-weight: 400;
}
.carrercard{
    box-shadow: 1px 1px 12px #020001;
}
h5{
    font-weight: 400;
}

/* ---------------------Contact start--------------------------- */
.contacth2{
    font-family: unset;
    font-size: 1.5rem;
    margin-bottom: 0.5rem ;
    font-weight: lighter;
    line-height: 1.2;
}
contacth6{
    color: orange;
}
contactu{
    color: #2196F3;
}

/* ---------------------Team start--------------------------- */

.teamh4{
    padding-top: 7cm;
    color: orange;
    text-align: center;
}
.teamp{
    color: orange;
    text-align: center;

}
